<html>
    <head>  
        <meta charset="UTF-8">
        <title>Dairy Product |NATURE SAVOUR!</title>
    </head>
        <body style="background-image:url(hp3333.jpg) ;" >          
<ul type="none">
       <li style="float: right;margin: 10px;font-size: large;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><a href="/rightcontact">Contact Us</a></li>&nbsp;
      </ul>
   <br>
   <br><br><br><br><br><br><br>
   <h1 style="font-family: inherit;text-align: center;color:black;">WELCOME TO NATURE SAVOUR!</h1>  
</body>
</html>