<html>
    <body><center><br>
               <h1> Enquiry Successful</h1><br>
        Name:&nbsp;<span th:text="${frm.name}"></span><br><br>
        Email:&nbsp;<span th:text="${frm.email}"></span><br><br>
        
        Gender:&nbsp;<span th:text="${frm.g1}"></span><br><br>
        Qurie Product:&nbsp;<span th:text="${frm.veg}"></span><br><br>
        Qurie:&nbsp;<span th:text="${frm.contact}"></span><br><br>
        Location:&nbsp;<span th:text="${frm.location}"></span><br><br>
    </center>
</body>
</html>